<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="">
      <img src="/img/logo.png" alt="" width="240vw" height="90vw">
   
    <div class="row">

      <li class="nav-item dropdown ms-auto mb-4">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
          <img src="/img/Vector.png" alt="" height="30">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/">Inicio</a></li>
          <li><a class="dropdown-item" href="/listaAdopcion">Adóptame</a></li>
          <li><a class="dropdown-item" href="/postulation">Publica</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a id="close-sesion" class="dropdown-item">Cerrar sesion</a></li>
        </ul>
      </li>

    </div>
  </div>
</nav>

<script>
  const closeSesion = document.getElementById('close-sesion')

  closeSesion.addEventListener('click', () => {
    localStorage.removeItem('token')
    window.location.href = '/login'
  })
</script>
