{{> navbarlistaAdopcion}}

<div id="alert"></div>

<div class="container my-5">
  <div id="cards" class="row row-cols-1 row-cols-md-3 g-4">

  </div>
</div>

<script>
  const alertContainer = document.getElementById('alert')
  const cards = document.getElementById('cards')
  const pintarDatos = (animals) => {
    cards.innerHTML = ''
    animals.forEach(a => {
      cards.innerHTML += `
        <div class="col mb-5">
          <h5 class="card-title">${a.nombre_animal}</h5>
          <div class="card h-100 bg-light">
            <img src="/avatars/${a.foto}" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="text-center mb-4 mt-2">
              <a href="#" style="color: white; background: #098B94" class="btn btn-primary"><img src="/img/heart-solid 15.png" alt=""> Adóptame!</a>
              </div>
              <p>Sexo: ${a.genero_animal}</p>
              <p>Edad: ${a.edad_animal}</p>
              <p>Tamaño: ${a.tamano}</p>
              <p class="card-text">Descripcion:</p>
              <p style="color: gray;">${a.descripcion}</p>
            </div>
          </div>
        </div>
      `
    })
  }

  document.addEventListener('DOMContentLoaded', async() => {
    if(!localStorage.getItem('token')) {
      window.location.href = '/login'
    }

    const token = localStorage.getItem('token')

    try {
      const response = await fetch('api/v1/animals', {
        method: 'get',
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })

      const data = await response.json()

      if(!data.ok) {
        //window.location.href = "/login"
      }

      pintarDatos(data.animals)

    } catch(error) {
      localStorage.removeItem('token')
      //window.location.href = "/login"
    }
  })  
</script>