{{> navbarLoguedoff}}

<div class="container my-5 pb-5 border rounded bg-light">
  <h3 class="iniciar text-center mt-4 pt-5">Iniciar Sesion</h3>
  <form class="form text-center" id="formulario">
    <div class="form-group">
      <div class="form-group mt-4 mb-4">
        <label class="w-50 text-start">Usuario</label>
        <input class="form-control w-50 m-auto my-3" name="email" placeholder="Ingresa tu correo electronico" />
      </div>
      <div class="form-group">
        <label class="w-50 text-start">Contraseña</label>
        <input class="form-control w-50 m-auto my-3" type="password" name="password" placeholder="Ingresa tu contraseña" />
      </div>
    </div>
    <button class="btn btn-success my-3">Ingresar</button>
    <p>¿Aún no tienes cuenta? <a href="/register">Regístrate</a></p>
  </form>
</div>

