{{> navbarProfile}}

<div class="container my-5 text-center border rounded bg-light">
    <h3 class="iniciar text-center mt-5">Perfil</h3>
    <form id="formId" class="form text-center">
        <div class="row mt-5 mb-4">
            <div class="col text-start">
                <label>Nombre</label>
                <input id="name" type="text" name="nombre" class="form-control mt-2" aria-label="Ingresa tus apellidos">
            </div>
            <div class="col text-start">
                <label>Apellido</label>
                <input id="lastname" type="text" name="apellido" class="form-control mt-2" aria-label="Last name">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col text-start">
                <label>Edad</label>
                <input id="age" type="text" name="edad" class="form-control mt-2" aria-label="Ingrese su edad">
            </div>
            <div class="col text-start">
                <label>Telefono</label>
                <input id="phone" type="text" name="telefono" class="form-control mt-2" aria-label="Telefono">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col text-start">
                <label>Direccion</label>
                <input id="adress" type="text" name="direccion" class="form-control mt-2" aria-label="Direccion">
            </div>
            <div class="col text-start">
                <label>Email</label>
                <input id="email" type="text" readonly="readonly" name="email" class="form-control mt-2" aria-label="email">
            </div>
        </div>
        
        <button style="color: white;" class="btn btn-warning my-3">Actualizar</button>
        
    </form>
</div>

<script>
    let myId = 0

    document.addEventListener('DOMContentLoaded', async() => {
        if(!localStorage.getItem('token')) {
            window.location.href = "/login"
        }

        const token = localStorage.getItem('token')

        try {
            const response = await fetch('api/v1/user', {
                method: 'get',
                headers: {
                    Authorization: `Bearer ${localStorage.getItem('token')}`
                }
            })

            const data = await response.json()
            console.log(data)

            myId = data.user.id
            document.getElementById('name').value = data.user.nombre
            document.getElementById('lastname').value = data.user.apellido
            document.getElementById('age').value = data.user.edad
            document.getElementById('phone').value = data.user.telefono
            document.getElementById('adress').value = data.user.direccion
            document.getElementById('email').value = data.user.email

        } catch(error) {
           localStorage.removeItem('token')
           window.location.href = "/login"
        }
    })

    const formEdit = document.getElementById('formId')

    formEdit.addEventListener('submit', async(e) => {
        e.preventDefault()

        const formData = new FormData(formEdit)

        try {
            const response = await fetch(`/api/v1/user/${myId}`, {
                method: 'put',
                body: formData
            })

            if(!response.ok) {
                alert('Ha un ocurrido un problema')
            } else {
                alert('El usuario ha sido editado con éxito')
            }

        } catch(error) {
            console.log(error)
        }
        
    })
     
</script>