body {
    background: white;
    font-family: 'Lemonada', cursive;
    color: #1dc4ce;
}

.iniciar {
    font-weight: 700;
    font-size: 3rem;
}

.form-group {
    font-weight: 300;
    font-size: 1.5rem;
}

.navbar, .footer1 {
    background: #1dc4ce;
}

.nav-link2 {
    text-decoration: none;
    color: white;
    padding: 0.75rem;
    font-weight: 700;
}

.footer {
    font-size: 0.75rem;
    color: white;
    background: #1dc4ce;
    display: flex;
}

h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1.5px solid #1dc4ce; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    color: grey;
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }